---

---

<section class="w-full flex flex-col items-center relative mt-24">
  <div class="flex flex-col items-center">
    <h1 class="text-5xl font-bold mb-6 text-center">Search movies</h1>
    <p class="text-base text-center text-zinc-600 dark:text-zinc-400 font-medium mb-8">
      Find among more than 200,000 movies using ElasticSearch.
    </p>
  </div>
</section>

<script>
  document.addEventListener('astro:page-load', () => {
    const btn = document.getElementById('darkmode-toggle');
    
    if (!btn) return;

    btn.addEventListener('click', () => {
      console.log("Toggling dark mode");
      document.documentElement.classList.toggle('dark');
      // Opcional: guardar preferencia en localStorage
      if(document.documentElement.classList.contains('dark')) {
        localStorage.setItem('theme', 'dark');
      } else {
        localStorage.setItem('theme', 'light');
      }
    });

    if(localStorage.getItem('theme') === 'dark') {
      document.documentElement.classList.add('dark');
    }
  });
</script>
